<div>
    <div id="modal">
        <div style="top:20px; right:20px; position:absolute" (click)="closeModal()">X</div>
        <div>
            <div class="form-group">
                <input class="form-control" [(ngModel)]="name">
            </div>
            <button class="button" id="submit" (click)="search()">Search</button>
        </div>
        <div id="available">
            <div *ngFor="let user of usersFound" id="user" (click)="moveToAdd(user)">
                <div>{{user.userName}}</div>
            </div>
        </div>
        <div id="to_add">
            <div *ngIf="userToAdd">
                <div id="user" *ngIf="userToAdd">{{userToAdd.userName}}</div>
                <button class="button" (click)="add()">Add</button>
            </div>
            <p>{{message}}</p>
        </div>
    </div>
</div>