<div id="modal">
    <div id="window">
        <div style="top:20px; right:20px; position:absolute" (click)="closeModal()">X</div>
        <input id="input"  [(ngModel)]="name">
        <button class="button" (click)="search()">Search</button>
        <div id="search_container">
            <div *ngFor="let user of usersFound" id="user" (click)="moveToAdd(user)">
                <div>{{user.userName}}</div>
            </div>
        </div>
    </div>
    <div id="modal_in_modal" *ngIf="modalInModal">
        <div id="window_in">
            <div>{{userToAdd.userName}}</div>
            <button class="button" id="add" (click)="add()">Add</button>
            <button class="button" id="cancel" (click)="cancel()">Cancel></button>
            <p>{{message}}</p>
        </div>    
    </div>
</div>