<div>
    <div>
    <ul ngbNav [(activeId)]="activepanel" class="nav-pills" orientation="vertical">
        <li [ngbNavItem]="'users'">
          <a ngbNavLink>Contacts</a>
        </li>
        <li [ngbNavItem]="'conversation'">
          <a ngbNavLink>Conversations</a>
        </li>
        <li [ngbNavItem]="'add'">
            <a ngbNavLink>Add</a>
        </li>
      </ul>
    </div>
    <div *ngIf="activepanel=='users'" id="panel">
        <div *ngFor="let status of singleUserConversations">
            <div id="conversation" (click)="getConversation(status.conversationId)">
                <p>{{status.users}}</p>
                <div id="message_counter">
                    <p id="counter">{{status.waitingMessages}}</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="activepanel=='conversation'" id="panel">
        <div *ngFor="let status of multiUserConversations">
            <div id="conversation" (click)="getConversation(status.conversationId)">
                <p>{{status.users}}</p>
                <div id="message_counter">
                    <p id="counter">{{status.waitingMessages}}</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="activepanel=='add'" id="buttons">
        <button (click)="openUserAddingModal()">Add user</button>
        <button (click)="openConversationModal()">Add conversation</button>
    </div>
</div>