<div>
    <div>
        <div id="batch" *ngFor="let messageBatch of messageBatches">
            <div id="message" *ngFor="let message of messageBatch.messageDtoList">
                <p>{{message.send}}</p>
                <p>{{message.content}}</p>
            </div>
        </div>
    </div>
    <div>
        <div class="form-group">
            <input type="textarea" class="form-control" id="input" [(ngModel)]="message">
        </div>
        <button id="button" (click)="sendMessage()"></button>
    </div>
</div>
