<div id="container">
    <p *ngIf="loginView">Login user</p>
    <p *ngIf="registerView">Register user</p>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="userDataDto.userName">
    </div>
    <div class="form-group">
        <label for="password">password</label>
        <input type="text" class="form-control" id="password" [(ngModel)]="userDataDto.password">
    </div>
    <button *ngIf="loginView" id="button" (click)="loginUser()">Login</button>
    <button *ngIf="registerView" id="button" (click)="registerUser()">Register</button>
    <button *ngIf="loginView" id="button" (click)="switchToRegister()">Switch to register form</button>
    <button *ngIf="registerView" id="button" (click)="switchToLogin()">Switch to login form></button>
</div>
