<div id="window">
    <div id="container">
        <div id="title">
            <p *ngIf="loginView">Login user</p> 
            <p *ngIf="registerView">Register user</p>
        </div>
        <div id="forms">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="userDataDto.userName">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" [(ngModel)]="userDataDto.password">
            </div>
        </div>
        <div id="buttons">
            <div *ngIf="loginView">
                <button (click)="loginUser()">Login</button> 
                <button (click)="switchToRegister()">Switch to register form</button>
            </div>
            <div *ngIf="registerView">
               <button (click)="registerUser()">Register</button>
                <button (click)="switchToLogin()">Switch to login form</button>
            </div>
        </div>
    </div>
</div>
<div id="window" *ngIf="problem" style="z-index: 2;">
    <div id="modal" >
        <p id="problem_message">{{message}}</p>
        <button id="close_button" (click)="close()">Ok</button>
    </div>
</div>
