#container {
    position: fixed;
    top: 1%;
    bottom:1%;
    left: 1%;
    right: 81%;
    background-color:rgb(83, 83, 83);
    border-radius: 5px;
    overflow-y: auto;
    z-index: 1;
}

#dialog {
    background-color: rgb(49, 49, 49);
    position: fixed;
    top: 1%;
    bottom:10%;
    left: 20%;
    right: 1%;
    overflow-y: auto;
    border-radius: 5px;
}

#input {
    background-color: rgb(98, 98, 98);
    position: fixed;
    top: 91%;
    bottom:1%;
    left: 20%;
    right: 1%;
    border-radius: 5px;
}